*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Extended-bold";
  src: url("../fonts/EurostileExtendedBlack.ttf");
}

@font-face {
    font-family: 'Extended-reg';
    src: url('../fonts/Eurostile\ Extended\ Regular.ttf');
}

html {
  font-size: 62.5%;
  font-family: "Extended-reg", sans-serif;
}

body {
  font-size: 1.6rem;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: min(100% - 3rem, 137rem);
  margin-inline: auto;
}
