nav {
  position: fixed;
  width: 100%;
  border-bottom: solid 1px white;
  margin-top: 20px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  column-gap: 4rem;
}

.nav-item {
  color: white;
}

#hero {
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  border-radius: 0 0 3rem 3rem;
}

.hero-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

h1 {
  max-width: 74.4rem;
  color: white;
  letter-spacing: 1%;
  font-size: 3.9rem;
  line-height: 130%;
}

h1 span {
  font-size: 4.9rem;
  font-weight: 700;
  letter-spacing: 0%;
  line-height: 130%;
}

.btn-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    transform: translateY(13px);
}

.services{
    padding: 90px 0;
}

.services-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.gelik{
  padding: 3rem;
  background-image: url('../img/gelik.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  height: 64rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-btn{
  align-self: flex-end;
  border: solid 1px #4f4f4f;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4);
  padding: 2.35rem 4.4rem;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  font-family: 'Extended-reg', sans-serif;
  cursor: pointer;
}

.gelik + div{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2.4rem;
}

.services-wrapper h3{
  color: white;
  letter-spacing: 12%;
  line-height: 130%;
  font-size: 2.4rem;
}

.autoparts{
  background-image: url('../img/diska.png');
}

.service{
  background-image: url('../img/bugatti.png');
}

.autoparts,
.service{
  flex-grow: 1;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



